<div class="section-1">
    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <div class="flex-row">
            <h2>Papan Pemuka</h2>
        </div>
        <div class="flex-column width-full">
            <h1><%=me.usr_role%></h1>
            <%if(me.usr_role==='Guru'){%>
            <h5>Maklumat Sekolah</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <div class="flex-row info"><label>Kod Sekolah</label><span><%=me.kodsekolah%></span> </div>
                <div class="flex-row info"><label>Nama Sekolah</label><span><%=me.namasekolah%></span> </div>
                <div class="flex-row info"><label>Alamat</label><span><%=me.alamat1 + ', ' + me.alamat2 + ', ' + me.poskod + ' ' + me.bandar + ', ' + me.negeri%></span> </div>
            </div>
            <h5>Guru Penyelia Penyertaan</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>No Telefon</th>
                            <th>Peserta</th>
                            <th>Sijil Guru</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===3).forEach(d=>{%>
                            <tr>
                                <td><%=d.nama%></td>
                                <td><%=d.prog_name%></td>
                                <td><%=d.notel%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                                <td class="flex-column"><div class="button bg-green center btn-cert-guru" guru="<%=d.nama%>" siri="<%=d.k1%>"><i class="fa-solid fa-file-pdf" guru="<%=d.nama%>" siri="<%=d.k1%>"></i></div></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            <h5>Penyertaan Peringkat Sekolah di bawah Seliaan <%=(me.usr_name)%></h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Perkara</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===1).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
                
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Pertandingan</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===2).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        <%};%>
            <h5>Penyertaan Peringkat Negeri (Zon)</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Pertandingan</th>
                            <th>Jumlah</th>
                            <th>Kumpulan 1</th>
                            <th>Kumpulan 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===4).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                                <td class="text-center"><%=d.k1===0?'-':d.k1%></td>
                                <td class="text-center"><%=d.k2===0?'-':d.k2%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <!--
        <div class="flex-row flex-wrap width-full center">
            <%count.forEach((d)=>{%>
                <div class="card center">
                    <div class="card-score">
                        <h1><%=d.peserta===0?'-':d.peserta%></h1>
                    </div>
                    <hr>
                    <div class="card-label">
                        <%if(d.prog_name){%>
                            <span><%=d.prog_name%></span>
                        <%}%>
                    </div>
                </div>    
            <%})%>
        </div>-->
    </div>
</div>


<script src="https://unpkg.com/pdf-lib@1.4.0"></script>
<script src="https://unpkg.com/downloadjs@1.4.7"></script>
<script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
<script src="./assets/d3/v7/d3.v7.min.js"></script>

<script>
    d3.selectAll('.btn-cert-guru').on('click', (e, d) => {
        console.log(e.target);
        console.log(d3.select(e.target).attr('guru'));

        var guru = d3.select(e.target).attr('guru');
        var siri = d3.select(e.target).attr('siri');
        var _data = {
            nama: guru,
            id: siri
        }

        //download sijil
        $.ajax({
            url: '/api/guru/download-sijil',
            type: 'POST',
            data: { guru: _data },
            xhrFields: {
                responseType: 'json'
            },
            success: async function (data, textStatus, jqXHR) {
                const { PDFDocument } = PDFLib;
                console.log(data);

                try {
                    const url = './generated/guru/' + data.pdf;
                    console.log(url);
                    const pdfBytes = await fetch(url).then(res => res.arrayBuffer());
                    //const pdf = await PDFDocument.load(pdfBytes);
                    download(pdfBytes, `${siri}.pdf`, "application/pdf");
                    // Load a PDFDocument from each of the existing PDFs
                    //const secondDonorPdfDoc = await PDFDocument.load(pdfBytes)
                } catch (err) {
                    console.log(err);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle errors
                console.error('Error fetching PDF:', textStatus, errorThrown);
            }
        });
    });
</script>