<div class="section-1">
    <%- include ('totembar.ejs') %>
    <div class="workspace">
        <div class="flex-row">
            <h2>Papan Pemuka</h2>
        </div>
        <div class="flex-column width-full">
            <h1><%=me.usr_role%></h1>
            <%if(me.usr_role==='Guru'){%>
            <h5>Maklumat Sekolah</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <div class="flex-row info"><label>Kod Sekolah</label><span><%=me.kodsekolah%></span> </div>
                <div class="flex-row info"><label>Nama Sekolah</label><span><%=me.namasekolah%></span> </div>
                <div class="flex-row info"><label>Alamat</label><span><%=me.alamat1 + ', ' + me.alamat2 + ', ' + me.poskod + ' ' + me.bandar + ', ' + me.negeri%></span> </div>
            </div>
            <h5>Guru Penyelia Penyertaan</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>No Telefon</th>
                            <th>Peserta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===3).forEach(d=>{%>
                            <tr>
                                <td><%=d.nama%></td>
                                <td><%=d.prog_name%></td>
                                <td><%=d.notel%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            <h5>Penyertaan Peringkat Sekolah di bawah Seliaan <%=(me.usr_name)%></h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Perkara</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===1).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
                
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Pertandingan</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===2).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        <%};%>
            <h5>Penyertaan Peringkat Negeri (Zon)</h5>
            <div class="info-container flex-row flex-wrap width-full">
                <table class="table-x">
                    <thead>
                        <tr>
                            <th>Pertandingan</th>
                            <th>Jumlah</th>
                            <th>Kumpulan 1</th>
                            <th>Kumpulan 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%count.filter(a=>a.jenis===4).forEach(d=>{%>
                            <tr>
                                <td><%=d.prog_name%></td>
                                <td class="text-center text-dark-lg"><%=d.peserta===0?'-':d.peserta%></td>
                                <td class="text-center"><%=d.k1===0?'-':d.k1%></td>
                                <td class="text-center"><%=d.k2===0?'-':d.k2%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <!--
        <div class="flex-row flex-wrap width-full center">
            <%count.forEach((d)=>{%>
                <div class="card center">
                    <div class="card-score">
                        <h1><%=d.peserta===0?'-':d.peserta%></h1>
                    </div>
                    <hr>
                    <div class="card-label">
                        <%if(d.prog_name){%>
                            <span><%=d.prog_name%></span>
                        <%}%>
                    </div>
                </div>    
            <%})%>
        </div>-->
    </div>
</div>